

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --cor-titulo-numeros: #101828;
    --cor-branco:#FFFFFF;
    --cor-borda: #EAECF0;
    --cor-bordavagas: rgba(255, 0, 0, 0.1);
    --cor-preto: #000;
    --cor-bordadepoimento: #C3191908;
    --cor-rodape:#F9FAFB;
    --corbordaedata: #98A2B3;

  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    width: 100%;
    height: 100vh;
  }


  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
  }
  
  .links a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
    font-size: 16px;
    font-weight: 500;
  }
  
  button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
    font-size: 16px;
    font-weight: 500;
  }
  
  button#signUp {
    background-color: var(--main-color);
    color: var(--cor-branco);
  }

/* Seção cabecalho*/
  .cabecalho {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 8rem;
  }
  
  .cabecalho__titulo {
    font-size: 2rem;
    margin: 1rem 0;
    font-size: 48px;
    font-weight: 600;
  }
  
  .cabecalho__textoum{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
  }

  .cabecalho__textodois{
    font-size: 20px;
    font-weight: 400;
    margin: 2em 20em 0 20em;
  }


/* Seção Metricas e conteiner */
.metricas__container{
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  background-color: var(--cor-branco);
  margin:0 8em;
}

.metricas__blocos{
  text-align: center;
  max-width: 200px;
}

.metricas__numero{
  font-size: 60px;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 0.2em;
}

.metricas__titulo{
  font-size: 18px;
  font-weight: 500;
  color: var(--cor-titulo-numeros);
  margin: 0.7em;
}
  

.metricas__texto{
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

/* Seção Vagas */
.infor {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 8rem;
}

.infor__vagas {
  color: var(--main-color); 
  font-size: 14px;
  font-weight: 500;
  border: none; 
  border-radius: 1.5rem;
  background-color: var(--cor-bordavagas);
  padding: 8px 16px;
  display: inline-block;
}

.infor__titulo {
  font-size: 2rem;
  margin: 1rem 0;
  font-size: 36px;
  font-weight: 600;
}

.infor__textodois {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 4rem 0;
}

.infor__image {
  max-width: 100%; 
  border-radius: 8px;
}

/* Seção Vagas */
.vagas {
  padding: 1rem 0;
  text-align: center;
}

.vagas__proficao {
  margin-right: 26.5em;
  font-size: 20px;
  font-weight: 500;
  color: var(--cor-titulo-numeros);
  margin-bottom: 2rem;
}

.vagas__div {
  border: 1px solid var(--cor-borda);
  border-radius: 0.5rem ;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--cor-branco);
  box-shadow: 0 1px 3px var();
  max-width: 600px; 
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
}

.vagas__prof {
  font-size: 18px;
  font-weight: 600;
  color: var(--cor-preto);
  margin-bottom: 0.5rem;
}

.vagas__info {
  display: flex;
  gap: 3em;
}
.vagas__info span {
  font-size: 16px;
  color: var(--text-color);
  padding: 1.4em 0 0 0;
}

.vagas__proficao__dois{
  margin-right: 15em;
  font-size: 20px;
  font-weight: 500;
  color: var(--cor-titulo-numeros);
  margin-bottom: 1rem; 
}



.depoimentos{
  text-align: center;
  margin: 7rem 12rem 0 12rem;
  border: 1px solid var(--cor-borda);
  border-radius: 0.5rem;
  background-color: var(--cor-bordadepoimento);

}


.depoimentos_text{
  color: var(--main-color);
  font-size: 14px;
  font-weight: 600;
  padding-top: 6em;
}


.depoimentos__titulo{
  font-size: 36px;
  font-weight: 500;
  color: var(--cor-titulo-numeros);
  margin: 1em 7em 1em 7em;
}



.depoimentos__nome{
  font-size: 16px;
  font-weight: 500;
  padding: 0.6em 0 0.3em 0;
}

.proficao{
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 4rem;
}



.rodape{
  margin: 10rem 0 10rem 0;
  text-align: center;
  background-color: var(--cor-rodape);
  padding: 10rem;
}


.rodape__titulo, .rodape__texto, .rodape__direitos, .buttons2{
  padding-bottom: 2rem;
}

.rodape__titulo{
  font-size: 36px;
  font-weight: 600;
}

.rodape__texto{
  font-size: 20px;
  font-weight: 400;
}


.rodape__pesquisa{
  background-color: transparent;
  border: 1px solid var(--corbordaedata);
  color: var(--cor-preto);
  border-radius: 8px;
  padding: 1em;
  width: 25%;

}

.buttons2{
  margin-right: 1rem;
}


.rodape__direitos{
  font-size: 16px;
  font-weight: 400;
  color: var(--corbordaedata);
}
