@import url("styles/cabecalho.css");


:root{
    --cor-de-fundo: #FFFFFF;
    --cor-nome: #3A404E;
    --cor-opcoes: #667085;
    --cor-borda: #8E2424;
    --cor-preto: #000000;
    --cor-cadastrar: #FFFFFF;
}






body{
    background: var(--cor-de-fundo);

}




